
@{
    ViewData["Title"] = "ManageUploads";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">

        <div class="pb-3">
            <h4 class="d-inline">Manage Uploads</h4>
            <a asp-area="Member" asp-controller="Contacts" asp-action="UploadContacts" class="btn btn-primary float-right">
                <i class="icon-file-upload2"></i> Upload Contracts
            </a>
        </div>

        <!-- Basic datatable -->
        <div class="card">
            <table class="table datatable-basic">
                <thead>
                    <tr>
                        <th>Upload Name</th>
                        <th>Updated</th>
                        <th>Total Contacts</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Book1.xlsx</td>
                        <td>Jul 28th, 2020</td>
                        <td>14</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View Report</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>




                </tbody>
            </table>
        </div>
        <!-- /basic datatable -->

    </div>
    <!-- /content area -->
</div>
<!-- /main content -->
