@model ContactExportModel

@{
    ViewData["Title"] = "Export Contacts";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">

        <div class="pb-3">
            <h4 class="d-inline">Contact Export Files</h4>
            <a asp-area="Member" asp-controller="Contacts" asp-action="Export" class="btn btn-primary float-right">
                <i class="icon-plus-circle2"></i> Export Contacts
            </a>
        </div>

        <!-- Basic datatable -->
        <div class="card">
            <div class="">
                <partial name="_ActionMessage" model="@Model.Response" />
            </div>
            <table class="table" id="downloadqueue-table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created</th>
                        <th>Processing Status</th>
                        <th>Succeeded</th>
                        <th>Notify By Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /basic datatable -->

    </div>
    <!-- /content area -->
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/ajax-call.js"></script>
    <script src="~/js/project/downloadqueue.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetContactExports", "Contacts", new { Area = "Member" })';
            var downloadUrl = '@Url.Action("GetDownloadFile", "Contacts", new { Area = "Member" })';
            loadDatatable(url,downloadUrl);
        });


    </script>


}