
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}


<div class="content-wrapper">
    <div class="content">
        <div class="col-md-8" data-select2-id="49">

            <!-- Basic layout-->
            <div class="card" data-select2-id="48">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"><b>Change Password</b></h5>
                </div>
                <!-- Change Password Form-->
                <div class="card-body" style="" data-select2-id="47">
                    <partial name="_ActionMessage" model="@Model.Response" />
                    <form asp-action="ChangePassword" asp-controller="Profile" method="post" data-select2-id="46">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Current Password:</label>
                            <div class="col-lg-8">
                                <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">New Password:</label>
                            <div class="col-lg-8">
                                <input asp-for="NewPassword" class="form-control" placeholder="New Password">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Confirm New Password:</label>
                            <div class="col-lg-8">
                                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password">
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="text-md-center">
                            <button type="submit" class="btn btn-primary">Change Password <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /basic layout -->

        </div>
    </div>
</div>

