
@{
    ViewData["Title"] = "Documentation";
}

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2 class="text-center display-4 text-white">Documentation</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="doc">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="pb-3 pt-5">Our Documentation</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, doloribus repudiandae sunt, facilis et porro deleniti reiciendis in aperiam perspiciatis maiores eos, quod dignissimos consectetur. Voluptatibus odit mollitia a nihil!</p>
                <img src="~/homeTheme/images/doc-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12">
                <h2 class="pb-3 pt-5">Our Documentation</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, doloribus repudiandae sunt, facilis et porro deleniti reiciendis in aperiam perspiciatis maiores eos, quod dignissimos consectetur. Voluptatibus odit mollitia a nihil!</p>
                <img src="~/homeTheme/images/doc-2.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</div>

