
@{
    ViewData["Title"] = "FAQ";
}

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2 class="text-center display-4 text-white">FAQ</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- faq-area-start -->
<div class="faq-area pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-wrapper">
                    <div class="section-title">
                        <span><i class="fa fa-question-circle" aria-hidden="true"></i> F A Q</span>
                        <h1>Frequently asked questions</h1>
                        <p>
                            We denounce with righteous indignation and dislike men who so beguiled and demoralized by the charms of pleasure omoment, so blinded by desire, that they cannot foresee pain and troubles that are bound to ensue; and equal blame
                            belongs to those who their duty through weakness will which same
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="faq-box mb-30">
                    <div id="accordion1">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Quick Wins For Improving Performance ? </a>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion1">
                                <div class="card-body">
                                    <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Front-End Performance Challenge Make ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                <div class="card-body">
                                    <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Site Blazingly Fast And Some Prizes Ways ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                <div class="card-body">
                                    <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        We’ve Announcement  Rachel  Editor ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                                <div class="card-body">
                                    <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq-area-end -->
<!-- faq-area-start -->
<div class="faq-area pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="faq-box faq-box-02">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne1">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">Monthly Web Development Update 09/2017: Functional CSS, Android 8 And iOS 11 ?</a>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseOne1" aria-labelledby="headingOne1" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues
                                        or desires to obtain pain of itself, because it is pain, but because occasiona circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo2">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        Front-End Performance Challenge Make Playing With Color: Vibrant Options For Apps And Websites ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues
                                        or desires to obtain pain of itself, because it is pain, but because occasiona circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree3">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                        Site Blazingly Fast And Some Prizes Ways User Authentication For Web And iOS Apps With AWS Cognito (Part 2) ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues
                                        or desires to obtain pain of itself, because it is pain, but because occasiona circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour4">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                        Front-End Performance Challenge Make Playing With Color: Vibrant Options For Apps And Websites ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour4" class="collapse" aria-labelledby="headingFour4" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues
                                        or desires to obtain pain of itself, because it is pain, but because occasiona circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq-area-end -->
