@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<div class="my-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <div class="display-4">
                        <span class="banner-header text-white">
                            Do more than automate your email — activate your
                            entire customer experience
                        </span>
                    </div>
                    <h4 class="pt-4 text-white">
                        Grow your audience, promote services, and sell products with marketing software that does the job for you.
                    </h4>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mt-3 px-5 py-3">Get started for free</a>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>

<!-- content-1 -->
<div class="content-1">
    <div class="container">
        <h2 class="text-center pb-5 display-4">Do email differently</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="~/homeTheme/images/content-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="text-content">
                    <h3>Building an email shouldn’t take hours—with @Configuration.GetSection("AppSettings")["CompanyFullName"], it takes minutes.</h3>
                    <p>
                        You don't worried abut time ,@Configuration.GetSection("AppSettings")["CompanyFullName"] takes few minutes for send your mail. You just need to import your xl sheet and will send your mail quickly.
                    </p>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mt-3 px-5 py-3">Start Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-2 -->
<div class="content-2">
    <div class="container">
        <h2 class="text-center pb-5 display-4 text-white">Do it together now</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="text-content text-white">
                    <h3>Lets Get help from our specialist team member</h3>
                    <p>
                        If you get trouble or do not understand how to use our service lets get help from our specialist team member.Our team always ready to help you,Just let us know.
                    </p>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mt-3 px-5 py-3">Start Here</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/homeTheme/images/team.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<!-- faq -->
<div class="faq-area">
    <div class="container">
        <div class="row">
            <!-- faq-area-start -->
            <div class="faq-area pt-130 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 mb-30">
                            <div class="faq-wrapper">
                                <div class="section-title">
                                    <span><i class="far fa-question-circle"></i> F A Q</span>
                                    <h1>Frequently asked questions</h1>
                                    <p>
                                        We denounce with righteous indignation and dislike men who so beguiled and demoralized by the charms of pleasure omoment, so blinded by desire, that they cannot foresee pain and troubles that are bound to ensue;
                                        and equal blame belongs to those who their duty through weakness will which same
                                    </p>
                                    <a asp-controller="Account" asp-action="Faq" class="btn btn-primary mt-3 px-5 py-3">Learn More</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="faq-box mb-30">
                                <div id="accordion1">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Quick Wins For Improving Performance ? </a>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion1">
                                            <div class="card-body">
                                                <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Front-End Performance Challenge Make ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                            <div class="card-body">
                                                <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Site Blazingly Fast And Some Prizes Ways ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                            <div class="card-body">
                                                <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                                <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    We’ve Announcement  Rachel  Editor ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                                            <div class="card-body">
                                                <p>Bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is tsame saying through shrinking from toil and pain.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- faq-area-end -->
        </div>
    </div>
</div>