
@{
    ViewData["Title"] = "Pricing";
}

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2 class="text-center display-4 text-white">Pricing</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Pricing Area -->
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>What We Offer</span>
            <h2 class="mb-5">Our Pricing Plan For You</h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Basic</h5>
                        <h6>$10/Month</h6>
                        <p class="card-text text-left">
                            <ul class="list-group style-none">
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 1</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 2</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 3</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 4</li>
                            </ul>
                        </p>
                        <a href="#" class="btn btn-primary py-3 px-5">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Standard</h5>
                        <h6>$20/Month</h6>
                        <p class="card-text text-left">
                            <ul class="list-group style-none">
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 1</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 2</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 3</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 4</li>
                            </ul>
                        </p>
                        <a href="#" class="btn btn-primary py-3 px-5">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Premium</h5>
                        <h6>$30/Month</h6>
                        <p class="card-text text-left">
                            <ul class="list-group style-none">
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 1</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 2</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 3</li>
                                <li class="list-group-item"> <i class="far fa-hand-point-right bg-primary rounded-circle p-1 text-white" aria-hidden="true"></i> &nbsp; Feature 4</li>
                            </ul>
                        </p>
                        <a href="#" class="btn btn-primary py-3 px-5">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->
