
@{
    ViewData["Title"] = "Tutorials";
}

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2 class="text-center display-4 text-white">How to start</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="doc">
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center pb-3">How to Sing Up</h2>
                <div class="text-center">
                    <iframe width="960" height="515" src="https://www.youtube.com/embed/30blACiLd_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center pb-3">How to Send Mail</h2>
                <div class="text-center">
                    <iframe width="960" height="515" src="https://www.youtube.com/embed/dE2QcTNp0Kk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center pb-3">How to Contract Us</h2>
                <div class="text-center">
                    <iframe width="960" height="515" src="https://www.youtube.com/embed/n8eBQY1hjwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

