# Database Configuration
DB_SERVER=db
DB_NAME=MailtoEMS
DB_USER_ID=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# Application Configuration
ROOT_URL=http://localhost:8080
VOLUME_CONTAINER_DIRECTORY=/app/wwwroot
VOLUME_NAME=ems-data-volume
VOLUME_HOST_DIRECTORY=./data

# File URLs
CONTACT_IMPORT_FILE_URL=Files/ContactImportFiles
CONTACT_EXPORT_FILE_URL=Files/ContactExportFiles
EMAIL_SENDER_FILE_URL=Files/EmailSenderFiles
CAMPAIGN_EXPORT_FILE_URL=Files/CampaignExportFiles

# Log URLs
CONTACT_IMPORT_LOG_URL=Logs/ContactImportLogs
EMAIL_SENDER_LOG_URL=Logs/EmailSenderLogs
CONTACT_EXPORT_LOG_URL=Logs/ContactExportLogs
CAMPAIGN_EXPORT_LOG_URL=Logs/CampaignExportLogs

# Email Configuration
EMAIL_OPEN_TRACKING_URL=http://localhost:8080/Member/Profile/GetEmailOpenTrackingImage

# Docker Configuration
DOCKER_REGISTRY=mahmudkoli
PLATFORM=linux
TAG=latest