@model ResponseModel

@if (Model != null)
{
    <div class="alert @Model.StyleCssClass alert-dismissible" role="alert">
        <i class="bi bi-info-circle-fill me-2"></i>
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <strong>@Model.Title</strong>
            <text> </text>
        }
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
