@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<footer class="page-footer">
    <span>© @DateTime.Now.Year @Configuration.GetSection("AppSettings")["CompanyFullName"] — All rights reserved.</span>
    <span>MailTo EMS v2.0</span>
</footer>
