@model ChangeDefaultPasswordViewModel
@{
    ViewData["Title"] = "Change Default Password";
    Layout = "_AccountLayout";
}

<!-- Content area -->
<div class="pt-5 d-flex justify-content-center align-items-center">

    <!-- Password recovery form -->
    <form asp-controller="Account" asp-action="ChangeDefaultPassword" method="post">
        <div class="card mb-0" style="width:400px;">
            <div class="card-body">
                <input type="hidden" asp-for="Email" />
                <div class="text-center mb-3">
                    <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <span class="d-block text-muted">Please change your default password</span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group form-group-feedback form-group-feedback-right">
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-right">
                    <input asp-for="Password" type="password" class="form-control" placeholder="New Password">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-right">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm New Password">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Change Password</button>
            </div>
        </div>
    </form>
    <!-- /password recovery form -->

</div>
<!-- /content area -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
