
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_AccountLayout";
}

@*<h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>*@


<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="pt-5 d-flex justify-content-center align-items-center">

            <!-- Password recovery form -->
            <div class="card mb-0" style="width:400px;">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <i class="icon-checkmark4 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                        <h5 class="mb-0">Email has been Sent !!</h5>
                        <span class="d-block text-muted">Please check your email to reset your password.</span>
                    </div>
                </div>
            </div>
            <!-- /password recovery form -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
