
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}
<link href="~/homeTheme/css/home.css" rel="stylesheet" />
<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center mt-2 pt-2">
    <div class="row pt-2">
        <div class="col-lg-6">
            <img src="~/homeTheme/images/sign-up.png" class="img-fluid login-img" />
        </div>
        <div class="col-lg-6">
            <!-- Register card -->
            <!-- Registration form -->
            <form class="login-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div class="card mb-0 register-card">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-plus3 text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Create account</h5>
                            <span class="d-block text-muted">All fields are required</span>
                        </div>

                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2">Your credentials</span>
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="FullName" type="text" class="form-control" placeholder="Full Name">
                            <div class="form-control-feedback">
                                <i class="icon-user-check text-muted"></i>
                            </div>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                            <div class="form-control-feedback">
                                <i class="icon-user-check text-muted"></i>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <div class="form-control-feedback">
                                <i class="icon-user-lock text-muted"></i>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        @*<div class="form-group text-center text-muted content-divider">
                        <span class="px-2">Your contacts</span>
                    </div>*@

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                            <div class="form-control-feedback">
                                <i class="icon-user-lock text-muted"></i>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        @*<div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="password" class="form-control" placeholder="Repeat email">
                        <div class="form-control-feedback">
                            <i class="icon-mention text-muted"></i>
                        </div>
                    </div>*@



                        <div class="form-group">
                            @*<div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
                                Send me <a href="#">test account settings</a>
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
                                Subscribe to monthly newsletter
                            </label>
                        </div>*@

                            <div class="form-check">
                                <div>
                                    <label class="form-check-label">
                                        <input type="checkbox" asp-for="isChecked" id="checkbtn" class="form-input-styled" data-fouc>
                                        Accept <a asp-controller="Account" asp-action="TermsAndConditions">terms of service</a>
                                    </label>
                                </div>
                                <span asp-validation-for="isChecked" id="msg" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" id="submitBtn" class="btn bg-teal-400 btn-block">Register <i class="icon-circle-right2 ml-2"></i></button>

                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2 pt-3">Already Have an account?</span>
                        </div>
                        <div class="">
                            <a asp-controller="Account" asp-action="Login" class="btn btn-light btn-block">Sign in</a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /registration form -->
            <!-- /Register card -->
        </div>
    </div>
</div>
<!-- /content area -->
<partial name="_FooterPartial" />

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            var defaultRangeValidator = $.validator.methods.range;
            $.validator.methods.range = function (value, element, param) {
                if (element.type === 'checkbox') {
                    // if it's a checkbox return true if it is checked
                    return element.checked;
                } else {
                    // otherwise run the default validation function
                    return defaultRangeValidator.call(this, value, element, param);
                }
            }
        })
    </script>

    <partial name="_ValidationScriptsPartial" />
}
