@{
    ViewData["Title"] = "Email Verification Successful";
    Layout = "_AccountLayout";
}

<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Email Verification form -->
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <i class="icon-checkmark4 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                        <h5 class="mb-0">@ViewData["Title"]</h5>
                        <span class="d-block text-muted mb-3">Please login to your account.</span>
                        <a asp-controller="Account" asp-action="Login" class="btn bg-teal-400 btn-labeled btn-labeled-left"><b><i class="icon-user"></i></b> Login</a>
                    </div>
                </div>
            </div>
            <!-- /Email Verification form -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
