
@{
    ViewData["Title"] = "ChoseEmailTemplate";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="pb-3">
            <h1 style="color:black;" class="text-center">Pick the Right Template for the Right Message</h1>
            <p><h5 style="color:black;">An email template design is a pre-formatted or pre-written email that can be re-used for multiple email marketing campaigns. This way, you can simply add your own text, images, and links instead of building a custom template from scratch.</h5></p>
            <p><h5 style="color:black;">As a result, you’ll save more time since you only have to focus on writing the content of the email and not on actually creating a template. In addition, if you’re not a professional developer or designer, it may take you longer than normal to create the template since it often involves complex code.</h5></p>
            <p><h5 style="color:black;">Additionally, templates ensure that your emails have format and brand consistency.</h5></p>
            <p><h5 style="color:black;">Whether you’re building your email from scratch or using one that someone else created, here’s how you can get the most out of your email templates.</h5></p>
            <p><h5 style="color:black;">Templates serve a wide range of purposes, such as welcoming new subscribers or announcing an upcoming sale. As such, you want to make sure that the template matches the message you’re sending out to your subscribers.</h5></p>
            <p><h5 style="color:black;">For example, if you were announcing a holiday sale, the template should be one that directs your subscriber’s attention directly to the coupon, discount, or promotional offer.</h5></p>
        </div>


    </div>
    <!-- /Content area -->
</div>

<!-- /Main content -->
