
@{
    ViewData["Title"] = "ImportContact";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="pb-3">
            <h1 class="text-center" style="color:black;">How to Import Contacts</h1>
            <p>
                <h5 style="color:black;">
                    &nbsp;&nbsp;&nbsp;&nbsp;If you are transferring a list of contacts from another system, the easiest way to bring
                    them into EmailTo is to upload them.The following instructions assume that you have created a list in your EmailTo account,
                    and that you have prepared a file with a valid header row.
                    The EmailTo software supports .xls or .xlsx (Microsoft Excel) file formats.
                </h5>
            </p>
        </div>
        <div>
            <p> <h5 style="color:black;"><b> To upload contacts from a file:</b> </h5> </p>
            <p> <h5 style="color:black;">&#9827; Click the <b style="color:black;">Contacts</b> link.</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/Contacts.jpg" />
            <p> <h5 style="color:black;">&#9827; Open the <b style="color:black;">Upload Contacts</b> drop down, and click the <b style="color:black;">Upload Contacts</b> link.</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/UplaodContacts.jpg" />
            <p> <h5 style="color:black;">&#9827; Browse your computer and select a file to upload.</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/brows.jpg" />
            <p> <h5 style="color:black;">&#9827; If your file only has data like e-mail addresses but no header row, then turn off the <b style="color:black;">"Column Headers"</b> option by clicking the blue slider icon.</h5> </p>
            <p> <h5 style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;If you do have a header row, leave it turned on.</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/ColomnHeader.jpg" />
            <p> <h5 style="color:black;">&#9827; Click On  <b style="color:black;">Next</b></h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/Next.jpg" />
            <p> <h5 style="color:black;">&#9827; If you see the Map Fields page then make sure all the columns either have the field name or have "---Ignore---".</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/Mapping.jpg" />
            <p> <h5 style="color:black;">&#9827; Click On Actions</h5> </p>
            <p> <h5 style="color:black;">&#9827; You can select Group from this step</h5></p>
            <img src="~/memberTheme/images/ContactUploadImg/Groupselect.jpg" />
            <p> <h5 style="color:black;">&#9827; On the final page, you will see a summary of what you have chosen. There is one final option on this page:</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/ReviewAndUplaod.jpg" />
            <p> <h5 style="color:black;">&#9827; The Verify Email Addresses option. If you turn this on, it will give you a listing of all the Invalid e-mail addresses</h5> </p>
            <img src="~/memberTheme/images/ContactUploadImg/EmailNotify.jpg" />
            <p> <h5 style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;at the end.These are e-mails that were entered in incorrectly. Examples are "test@gmail." and "test@gmail;com".</h5> </p>
            <p> <h5 style="color:black;">&#9827; Click to <b style="color:black;">confirm upload.</b></h5> </p>

        </div>
       
        <video width="400" height="200" controls>
            <source src="~/memberTheme/images/VedioClips/contactuploadf.mp4" type="video/mp4" />
        </video>
        <!-- /Content area -->
    </div>

<!-- /Main content -->
