
@{
    ViewData["Title"] = "Index";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="pb-3">
            <h1 style="color:black;" class="text-center">Getting Started with EmailTo</h1>
            <p><h5 style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;Welcome, and thank you for your decision to use EmailTo. Whether you want to grow your business or just keep in touch with your current customers, EmailTo provides you easy tools to reach your contacts by email and social media, some of the most costeffective marketing channels.</h5></p>
            <p><h5 style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;This guide is designed to get you up and running quickly. It covers the basic steps of setting up your account, creating and populating a contact list, and sending your first email. For more resources on how to use some of our more advanced tools, including surveys, autoresponders, and social media, please visit our help system by using the help button in the upper right of the application.</h5></p>
            <p><h5 style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;When creating a message, users can choose between one of EmailTo’s predefined templates or build a unique message using HTML. EmailTo offers tools to manage a growing email list that includes subscription management, bulk subscriber upload.</h5></p>
            <p><h5 style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;Other features include, a review system that ensures every email reaches the inbox. The reports feature tracks messages in real-time and allows users to quickly view marketing results in action, from big picture tracking, to individual click behavior.</h5></p>
        </div>


    </div>
    <!-- /Content area -->
</div>

<!-- /Main content -->
