@{
    ViewData["Title"] = "SendMail";
}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="pb-3">
            <h1 style="color:black;" class="text-center">Easy way to Send a Mail</h1>
            <p>
                <h5 style="color:black;">
                    &nbsp;&nbsp;&nbsp;&nbsp;Email marketing is a great strategy to gain website traffic,
                    promote events and stay connected with your audience.
                    EmailTo is a platform that enables you to do all of this as well as monitor and analyze your progress.
                    Getting started with any platform can be a challenge but we have put together a step-by-step helping guide
                    on how to use EmailTo so you can start improving your connections with your clients.
                </h5>
            </p>
            <p> <h5 style="color:black;">&#9827; Click the Campaigns tab.</h5></p>
            <img src="~/memberTheme/images/SendMail/Campaings.PNG" />
            <p> <h5 style="color:black;">&#9827; Open the <b style="color:black;">Campaign</b> drop down, and click the <b style="color:black;">Add Campaign</b> link.</h5> </p>
            <img src="~/memberTheme/images/SendMail/AddCampaigns.PNG" />
            <p> <h5 style="color:black;">&#9827; You can select group from this step.</h5></p>
            <img src="~/memberTheme/images/SendMail/group.PNG" />
            <p> <h5 style="color:black;">&#9827; Select the smtp where you want to send an email.</h5> </p>
            <img src="~/memberTheme/images/SendMail/SmtpSelect.PNG" />
            <p> <h5 style="color:black;">&#9827; You can set the Date Time when your email will be sent.</h5> </p>
            <img src="~/memberTheme/images/SendMail/DateTime.PNG" />
            <p> <h5 style="color:black;">&#9827; If You Want you can save the Draft here.Just turn on the button.</h5> </p>
            <img src="~/memberTheme/images/SendMail/Draft.PNG" />
            <p> <h5 style="color:black;">&#9827; Turn on the button email notify button for notify by email.</h5> </p>
            <img src="~/memberTheme/images/SendMail/NotifyWithEmail.PNG" />
            <p> <h5 style="color:black;">&#9827; You can send to multiple email by using comma between emails.</h5> </p>
            <img src="~/memberTheme/images/SendMail/SenderEmail.PNG" />
            <p>
                <h5 style="color:black;">
                    &#9827; Choose Or Create your template .You can create a new template for sending email or
                    can use your previous templete that you have creatd.
                </h5>
            </p>
            <p>
                <img src="~/memberTheme/images/SendMail/DraftsOrNewTemplate.PNG" />
            <p> <h5 style="color:black;">&#9827; You can personalize your email body here.just turn on the button</h5> </p>
            <img src="~/memberTheme/images/SendMail/personalizeemailbody.PNG" />
            <h5 style="color:black;">
                &#9827; Select a layout for the message. A layout is different configurations of the theme.
                Additional rows and content blocks can be added to any &nbsp;&nbsp;&nbsp;&nbsp;layout.
            </h5>
            </p>
            <img src="~/memberTheme/images/SendMail/Emailbody.PNG" />


        </div>
    </div>
    <!-- /Content area -->
</div>

<!-- /Main content -->
