@model CreateEmailTemplateModel
@{
    ViewData["Title"] = "Add Email Template";
}

<!-- Content area -->
<div class="content">
    <div class="pb-3">
        <h4 class="d-inline">Add Template</h4>
        <a asp-controller="EmailTemplate" asp-action="ViewEmailTemplates" asp-area="Member" class="btn btn-primary float-right"><i class="icon-stack4 mr-2"></i> <span class="font-weight-semibold">Template List</span></a>
    </div>
    <div class="card">
        <div class="card-body">
            <partial name="_ActionMessage" model="@Model.Response" />
            <div class="">
                <form asp-action="AddEmailTemplate" asp-controller="EmailTemplate" asp-area="Member">
                    <div class="">
                        <fieldset class="mb-3">

                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-10 p-2">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2" asp-for="EmailTemplateName"></label>
                                        <div class="col-lg-8">
                                            <input asp-for="EmailTemplateName" class="form-control" />
                                            <span asp-validation-for="EmailTemplateName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2" asp-for="IsPersonalized"></label>
                                        <div class="col-sm-9">
                                            <div class="dropdown-item form-check form-check-switchery ">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-input-switchery" data-fouc asp-for="IsPersonalized">
                                                    <span class="font-weight-bold">Want to personalize email body?</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2 required" asp-for="EmailTemplateBody"></label>
                                        <div class="col-lg-10">
                                            <textarea asp-for="EmailTemplateBody" class="form-control"></textarea>
                                            <div>
                                                <span><span class="text-danger">Important Note:</span> If you want to personalize email body.Then use curly brace {} and inside curly brace write Field Name. Example: {Field_Name} like this.</span>
                                            </div>
                                            <span asp-validation-for="EmailTemplateBody" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="">
                        <div class="d-flex justify-content-between">
                            <a asp-controller="EmailTemplate" asp-action="ViewEmailTemplates" asp-area="Member" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                            <button type="submit" class="btn bg-teal ml-2"><i class="icon-file-check2"></i> Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<!-- /Content area -->



@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_FormInputScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DateTimePickerScriptsPartial.cshtml" />


    <script src="https://cdn.tiny.cloud/1/plj32oi7siumt37tnxcbarowphfd2zt66talpivgjvpt70i5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        $(function () {
            $(document).ready(function () {
                tinymce.init({
                    selector: 'textarea',
                    height: 500,
                    plugins: [
                        "advlist autolink lists link image charmap print preview anchor",
                        "searchreplace visualblocks code fullscreen",
                        "insertdatetime media table paste imagetools wordcount"
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                    toolbar_mode: 'floating',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                });
            });
        });
    </script>

}


