@model CampaignsModel

@{
    ViewData["Title"] = "View Campaing Reports";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">

        <div class="pb-3">
            <h4 class="d-inline">Campaign Reports</h4>
            <a asp-area="Member" asp-controller="Campaigns" asp-action="ViewReport" class="btn btn-primary float-right">
                <i class="icon-plus-circle2"></i> Export Reports
            </a>
        </div>

        <!-- Basic datatable -->
        <div class="card">
            <div class="">
                <partial name="_ActionMessage" model="@Model.Response" />
            </div>
            <table class="table" id="downloadqueue-table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created</th>
                        <th>Processing Status</th>
                        <th>Succeeded</th>
                        <th>Notify By Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/project/downloadqueue.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetCampaignReports", "Campaigns", new { Area = "Member" })';
            var downloadUrl = '@Url.Action("GetDownloadFile", "Campaigns", new { Area = "Member" })';
            var isProcessing = true;
            loadDatatable(url, downloadUrl, isProcessing);
        });
    </script>

}