@model CampaignsModel
@using EmailMarketing.Membership.Extensions
@{
    ViewData["Title"] = "ViewReport";
    var loggedInUserEmail = User.Identity.Email();
}


<!-- Content area -->
<div class="content">
    <div class="pb-3">
        <h4 class="d-inline"><a class="text-black-50" asp-area="Member" asp-controller="Dashboard" asp-action="Index"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
        <a asp-controller="Campaigns" asp-action="Index" asp-area="Member" class="btn bg-primary float-right"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">Campaign List</span></a>
    </div>
    <div class="">
        <h1 class="text-center">Report</h1>
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h3 class="mb-1 pb-0">Export Your Campaign Report</h3>
                <partial name="_ActionMessage" model="@Model.Response" />
                <div class="bg-white text-left p-3 mb-3">
                    <form asp-action="Export" asp-controller="Campaigns" asp-area="Member" method="post">
                        <div class="pb-3">
                            <div class="dropdown-item form-check form-check-switchery ">
                                <label class="form-check-label">
                                    <input type="checkbox" id="email-checkbox-all-campaign" class="form-input-switchery" checked asp-for="IsSendEmailNotifyForAll">
                                    <span class="font-weight-bold">Send file via email once export is complete</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Email" asp-for="SendEmailAddress" value="@loggedInUserEmail">
                                    <p class="pt-2">[You can send to multiple email by comma separating email.]</p>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="IsExportAll" value="true" />
                        <div class="text-center">
                            <button class="btn btn-primary"><i class="icon-file-download2 text-white"> Export All Campaign Report</i></button>
                        </div>
                    </form>
                </div>
                <h5 class="text-center">Or</h5>
                <div class="bg-white text-left p-3 mb-3">
                    <form asp-action="Export" asp-controller="Campaigns" asp-area="Member" method="post">
                        <div class="pb-3">
                            <div class="dropdown-item form-check form-check-switchery ">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-input-switchery" id="email-checkbox-campaign-wise" checked asp-for="IsSendEmailNotifyForCampaignwise">
                                    <span class="font-weight-bold">Send file via email once export is complete</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Email" asp-for="SendEmailAddress" value="@loggedInUserEmail">
                                    <p class="pt-2">[You can send to multiple email by comma separating email.]</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group row">
                                <label for="Id" class="col-md-3 col-form-label">Campaign</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="Id" asp-items="@(new SelectList(Model.CampaignSelectList,"Value","Text"))">
                                        <option value="">--- Choose Campaign ---</option>
                                    </select>
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="IsExportAll" value="false" />
                        <div class="text-center mt-3">
                            <button class="btn btn-primary"><i class="icon-file-download2 text-white"> Export Campaign Wise Report</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Content area -->
