@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!-- cta -->
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="cta-content text-white">
                    <h3 class="display-4">Start Growing With @Configuration.GetSection("AppSettings")["CompanyFullName"] Today</h3>
                    <p class="">With tools to make every part of your process more human <br> and a support team excited to help you, getting started <br> with inbound has never been easier.</p>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mt-3 px-5 py-3">Get started for free</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="cta-img">
                    <img src="~/homeTheme/images/cta-image.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
