@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!-- Footer -->
<div class="my-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav-content">
                    <h4 class="pb-2 text-white">Resources</h4>
                    <ul class="list-unstyled text-white">
                        <li><a asp-controller="Home" asp-action="Doc" class="text-white">Documentation</a></li>
                        <li><a asp-controller="Home" asp-action="Tutorials" class="text-white">Tutorials</a></li>
                        <li><a href="" class="text-white">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-content">
                    <h4 class="pb-2 text-white">Company Details</h4>
                    <ul class="list-unstyled text-white">
                        <li><a href="" class="text-white">Terms and Conditions</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy" class="text-white">Privacy Policy</a></li>
                        <li><a href="" class="text-white">Who We Are?</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-content">
                    <h4 class="pb-2 text-white">Get In Touch</h4>
                    <ul class="list-unstyled text-white">
                        <li><a asp-controller="Account" asp-action="Register" class="text-white">Sign Up Free</a></li>
                        <li><a asp-controller="Account" asp-action="Login" class="text-white">Sign In</a></li>
                        <li><a href="" class="text-white">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-content">
                    <h4 class="pb-2 text-white">Follow Us</h4>
                    <p class="text-white">You can contact with us using following links</p>
                    <span class="social-link">
                        <ul class="list-unstyled text-white ">
                            <li>
                                <a href="">
                                    <i class="fab fa-facebook-f text-white border border-white rounded-circle p-2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fab fa-twitter text-white border border-white rounded-circle p-2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fab fa-linkedin-in text-white border border-white rounded-circle p-2"></i>
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <hr class="bg-white">
        <div class="copyright text-center text-white">
            Copyright &copy; 2020 @Configuration.GetSection("AppSettings")["CompanyFullName"]
        </div>
    </div>
</div>
<!-- /footer -->