<nav class="public-navbar navbar navbar-expand-md">
    <div class="container">

        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/theme/global_assets/images/logo_dark_mail-to.png" alt="MailTo" style="height:28px;" />
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#publicNav">
            <i class="bi bi-list" style="font-size:1.4rem;"></i>
        </button>

        <div class="collapse navbar-collapse" id="publicNav">
            <ul class="navbar-nav me-auto gap-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Features</a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Home" asp-action="Feature" class="dropdown-item"><i class="bi bi-megaphone"></i> Campaigns</a></li>
                        <li><a asp-controller="Home" asp-action="Feature" class="dropdown-item"><i class="bi bi-bar-chart"></i> Reports</a></li>
                        <li><a asp-controller="Home" asp-action="Feature" class="dropdown-item"><i class="bi bi-send"></i> High Volume</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Pricing" class="nav-link">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Home" asp-action="Doc" class="dropdown-item"><i class="bi bi-book"></i> Documentation</a></li>
                        <li><a asp-controller="Home" asp-action="Tutorials" class="dropdown-item"><i class="bi bi-play-circle"></i> Tutorials</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Faq" class="nav-link">FAQ</a>
                </li>
            </ul>
            <ul class="navbar-nav gap-2 align-items-center">
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login"
                       class="btn btn-light btn-sm" style="font-weight:600;">
                        Log In
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register"
                       class="btn btn-primary btn-sm" style="font-weight:600;">
                        Sign Up Free
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
