@model EmailMarketing.Web.Areas.Member.Models.Smtp.EditSMTPModel

@{
    ViewData["Title"] = "Edit SMTP";
}

<!-- Content area -->
<div class="content">
    <div class="pb-3">
        <h4 class="d-inline">Edit SMTP</h4>
        <a asp-controller="SMTP" asp-action="Index" asp-area="Member" class="btn bg-primary float-right"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">SMTP List</span></a>
    </div>
    <div class="card">
        <div class="card-body">
            <partial name="_ActionMessage" model="@Model.Response" />
            <div class="">
                <form asp-action="Edit" asp-controller="SMTP" asp-area="Member" method="post">
                    <div class="">
                        <fieldset class="mb-3">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6 border-right p-2">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="Server"></label>
                                        <div class="col-lg-8">
                                            <input type="text" id="server" class="form-control" asp-for="Server">
                                            <span asp-validation-for="Server" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="Port"></label>
                                        <div class="col-lg-8">
                                            <input type="text" id="port" class="form-control" asp-for="Port">
                                            <span asp-validation-for="Port" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="SenderName"></label>
                                        <div class="col-lg-8">
                                            <input type="text" id="sender_name" class="form-control" asp-for="SenderName">
                                            <span asp-validation-for="SenderName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="SenderEmail"></label>
                                        <div class="col-lg-8">
                                            <input type="text" id="sender_email" class="form-control" asp-for="SenderEmail">
                                            <span asp-validation-for="SenderEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 border-left p-2">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="UserName"></label>
                                        <div class="col-lg-8">
                                            <input type="text" id="user_name" class="form-control" asp-for="UserName">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="Password"></label>
                                        <div class="col-lg-8">
                                            <input type="password" id="password" class="form-control" asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4" asp-for="EnableSSL"></label>
                                        <div class="col-lg-8">
                                            <input type="checkbox" id="enable_ssl" class="form-check" asp-for="EnableSSL">
                                            <span asp-validation-for="EnableSSL" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="">
                        <div class="">
                            <a asp-controller="SMTP" asp-action="Index" asp-area="Member" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                            <div class="float-right">
                                <button type="submit" class="btn bg-teal ml-2"><i class="icon-file-check2"></i> Save</button>
                                <button type="submit" id="smtpTestBtn" class="btn bg-teal ml-2"><i class="icon-shield-check"></i> Test SMTP</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Content area -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_FormInputScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DateTimePickerScriptsPartial.cshtml" />
    <script src="~/js/ajax-call.js"></script>
    <script src="~/js/project/smtp-test.js"></script>

    <script>
        $(function () {
            $('#smtpTestBtn').click(function (e) {
                e.preventDefault();

                var data = {
                    Server: $('#server').val(),
                    Port: Number.parseInt($('#port').val()),
                    SenderName: $('#sender_name').val(),
                    SenderEmail: $('#sender_email').val(),
                    UserName: $('#user_name').val(),
                    Password: $('#password').val(),
                    EnableSSL: !!$('#enable_ssl').val(),
                };

                var Url = '@Url.Action("TestSmtp", "SMTP", new { Area = "Member" })';

                ajaxCall(Url, data, 'renderSmtpTest', 'POST');
            });

        });

        function renderSmtpTest(response) {
            if (response == true) {
                new Noty({
                    text: 'Success',
                    type: 'success',
                    theme: ' alert alert-success alert-styled-left p-0',
                    closeWith: ['button']
                }).show();
            }
            else if (response == "failed")
            {
                new Noty({
                    text: 'Fill up all the input field',
                    type: 'error',
                    theme: ' alert alert-danger alert-styled-left p-0',
                    closeWith: ['button']
                }).show();
            }
            else {
                new Noty({
                    text: 'Invalid SMTP Settings',
                    type: 'error',
                    theme: ' alert alert-danger alert-styled-left p-0',
                    closeWith: ['button']
                }).show();
            }
        }
    </script>
}
