.preview {
    height: 100%;
    width: 100%;
}

.card_tr td {
    padding-bottom: 0;
}

.custom_template_card {
    overflow: hidden;
    height: 150px;
    margin-right:20px;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 46%;
    opacity: 0;
    transition: 0.5s ease;
}

.custom_template_card:hover .overlay {
    opacity: 1;
}

.overlay_title {
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.custom_template_card:hover .overlay_title {
    opacity: 1;
}

.custom_template_card:hover {
    background-color: #000000;
    opacity: 0.5;
}

.overlay_opacity {
    opacity: 1;
}

.custom_template_opacity {
    background-color: #000000;
    opacity: 0.5;
}
