

#uploadFile {
    display: none;
}

#uploadFileDiv {
    cursor: pointer;
}

.card-border-dotted {
    border: 3px dotted #aca4a4;
}

.bg-col-header {
    background-color: #dfdfdf;
}

.scrollmenu {
    background-color: rgb(107, 100, 100);
    overflow: auto;
    height: 500px;
}

.bg-field-map {
    background-color: #ffffff;
}


/*upload contact*/
.hidden {
    display: none;
}



button:disabled:hover {
    opacity: 0.4;
    cursor: not-allowed;
}

.text-center {
    text-align: center;
}


#stepProgressBar {
    display: flex;
    width: 650px;
    font-size: smaller;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

.step {
    text-align: center;
}

.step-text {
    margin-bottom: 10px;
    color: #28a745;
}

.bullet {
    border-radius: 100%;
    display: inline-block;
    position: relative;
    transition: background-color 500ms;
    line-height: 20px;
    color: #c2c4c2;
    background-color: #c2c4c2;
}

    .bullet.completed {
        color: #28a745;
        background-color: #ffffff;
    }

.current {
    color: #28a745;
    background-color: #28a745;
}

.bullet.completed::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 130px;
    background-color: #28a745;
    bottom: 16px;
}

#mapFields {
    display: none;
}

#chooseActions {
    display: none;
}

#reviewConfirm {
    display: none;
}

.mapFieldDropdown{
    min-width:150px;
}