#template_prview{
    box-sizing:border-box;
}
.preview {
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #f3f3f3;
}

.card_tr td{
    padding-bottom: 0;
}

.custom_template_card {
    overflow: hidden;
    width: 230px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 46%;
    left: 28%;
    opacity: 0;
    transition: 0.5s ease;
}

.custom_template_card:hover .overlay {
    opacity: 1;
}

.custom_template_card:hover {
    background-color: #000000;
    opacity: 0.5;
}

.overlay_opacity {
    opacity: 1;
}

.custom_template_opacity {
    background-color: #000000;
    opacity: 0.5;
}

#remove_all{
    cursor:pointer;
}